@import "app.scss";

html {
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff !important;

  &.ea {
    //  background-color: #dae1e940;
    height: unset;
    min-height: 100%;
    color: #fff;
  }
}


.sidebar {
  background-color: #343b47;
}

.datagrid .form-check {
  margin-bottom: 0;
  min-height: 15px;
  padding-left: 1.2rem;
}

.content-wrapper {
  margin: auto;
}
.content-header {
  background: #fff;
  padding: 3rem;
  margin-bottom: 1rem;
  //margin-top: 1rem;
}
.content-top {
  background: #fff;
}

#login form {
  background-color: var(--color-primary-lightest);
  border-radius: 1rem;
  width: 50%;
  margin: auto;
  padding: 3%;

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    width: 80%;
  }
}

#main-menu {
  // position: fixed;
  width: var(--sidebar-max-width);
  // padding-top: 50px;

  .menu .menu-item {
    padding: 0;

    .submenu-toggle-icon {
      /* color: var(--color-neutral-light); */
      right: 0px;
      top: 0px;
    }

    &.active a {
      /*  background: var(--color-neutral-lighter) !important; */
      background-color: #fff;
      color: #fff;
      margin-right: 1rem;
      text-decoration: none;
    }

    a {
      padding: 0.75rem;
      color: #fff;
      // color: var(--color-neutral-light);
      /*  background: var(--color-neutral-dark); */
      border-radius: 5px 0 0 5px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 0.25rem;
      position: relative;
      transition: all 0.3s ease;
      text-decoration: none;
      cursor: pointer;

      i {
        position: inherit;
        color: #fff;
      }

      &:hover {
        /*    background-color: var(--color-primary-darkest);  */
        text-decoration: none;
        color: $color-dashboard-5;
        font-weight: 600;
      }
    }

    .submenu {
      padding-left: 0.25rem;

      .menu-item:hover a {
        background: var(--color-primary-dark);
      }

      a {
        border-radius: 0;
        // background: var(--color-neutral-mid-darker);
        background: hsl(210deg, 9%, 41%);
      }
    }
  }
}

.main-header #header-logo a {
  color: #fff !important;
  display: block;
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 24px;
  padding: 17px 0 28px;
  text-decoration: none;
}

