$color-primary: hsl(197, 84%, 40%);
$color-secondary: hsl(212, 100%, 17%);

$color-dashboard-1: hsl(83, 37%, 63%);
$color-dashboard-2: hsl(212, 100%, 17%);
$color-dashboard-3: hsl(2, 74%, 60%);
$color-dashboard-4: hsl(338, 69%, 78%);
$color-dashboard-5: hsl(35, 91%, 57%);


:root {
  --color-primary-darkest: hsl(172, 38%, 28%);
  --color-primary-darker: hsl(172, 38%, 33%);
  --color-primary-dark: hsl(172, 38%, 40%);
  --color-primary: #{$color-primary};
  --color-primary-light: hsl(172, 38%, 74%);
  --color-primary-lighter: hsl(173, 37%, 87%);
  --color-primary-lightest: hsl(172, 38%, 98%);

  --color-secondary-darkest: hsl(228, 100%, 2%);
  --color-secondary-darker: hsl(218, 59%, 11%);
  --color-secondary: #{$color-secondary};

  --color-tertiary: hsl(2, 74%, 60%);

  --color-neutral-darkest: hsl(213, 12%, 5%);
  --color-neutral-darker: hsl(210, 11%, 22%);
  --color-neutral-dark: hsl(210, 9%, 31%);
  --color-neutral-mid-darker: hsl(210, 7%, 56%);
  --color-neutral-mid-dark: hsl(210, 11%, 71%);
  --color-neutral-mid: hsl(210, 14%, 83%);
  --color-neutral-mid-light: hsl(210, 14%, 89%);
  --color-neutral-light: hsl(210, 15%, 92%);
  --color-neutral-lighter: hsl(210, 17%, 95%);
  --color-neutral-lightest: hsl(210, 14%, 97%);

  // dashboard
  --color-dashboard-1: #{$color-dashboard-1};
  --color-dashboard-2: #{$color-dashboard-2};
  --color-dashboard-3: #{$color-dashboard-3};
  --color-dashboard-4: #{$color-dashboard-4};
  --color-dashboard-5: #{$color-dashboard-5};
}




$color-success: hsl(172, 38%, 57%);
$color-error: hsl(2, 74%, 60%);
$color-warning: hsl(39 ,100%, 50%);
$color-info: hsl(192, 60%, 49%);

$color-orange: hsl(39, 98%, 50%);

$color-cover-vertical: linear-gradient(0deg, #000, hsla(212, 100%, 17%, 0.6) 30%, transparent);
$color-cover-horizontal: linear-gradient(45deg, #000, hsla(227, 100%, 5%, 0.8) 20%, transparent 88%);
$color-background-app: var(--color-secondary-darkest);
