$color-primary: hsl(199deg, 99%, 48%);
$color-primary-darkest: adjust-color($color-primary, $lightness: -30%);
$color-primary-darker: adjust-color($color-primary, $lightness: -20%);
$color-primary-dark: adjust-color($color-primary, $lightness: -10%);
$color-primary-light: adjust-color($color-primary, $lightness: 15%);
$color-primary-lighter: adjust-color($color-primary, $lightness: 35%);
$color-primary-lightest: adjust-color($color-primary, $lightness: 48%);

$color-secondary: hsl(0, 0%, 19%);
$color-secondary-darkest: adjust-color($color-secondary, $lightness: -30%);
$color-secondary-darker: adjust-color($color-secondary, $lightness: -20%);
$color-secondary-dark: adjust-color($color-secondary, $lightness: -10%);
$color-secondary-light: adjust-color($color-secondary, $lightness: 10%);
$color-secondary-lighter: adjust-color($color-secondary, $lightness: 20%);
$color-secondary-lightest: adjust-color($color-secondary, $lightness: 30%);

$color-neutral-darkest: hsl(213, 12%, 5%);
$color-neutral-darker: hsl(210, 11%, 22%);
$color-neutral-dark: hsl(210, 9%, 31%);
$color-neutral-mid-darker: hsl(210, 7%, 56%);
$color-neutral-mid-dark: hsl(210, 11%, 71%);
$color-neutral-mid: hsl(210, 14%, 83%);
$color-neutral-mid-light: hsl(210, 14%, 89%);
$color-neutral-light: hsl(210, 15%, 92%);
$color-neutral-lighter: hsl(210, 17%, 95%);
$color-neutral-lightest: hsl(210, 14%, 97%);

$color-complete: hsl(105, 90%, 70%);
$color-complete-darkest: adjust-color($color-complete, $lightness: -45%);
$color-complete-darker: adjust-color($color-complete, $lightness: -30%);
$color-complete-dark: adjust-color($color-complete, $lightness: -10%);
$color-complete-light: adjust-color($color-complete, $lightness: 10%);
$color-complete-lighter: adjust-color($color-complete, $lightness: 20%);
$color-complete-lightest: adjust-color($color-complete, $lightness: 25%);


$color-success: hsl(172, 38%, 57%);
$color-error: hsl(2, 74%, 60%);
$color-warning: hsl(39 ,100%, 50%);
$color-info: hsl(192, 60%, 49%);

$color-dashboard-1: hsl(83, 37%, 63%);
$color-dashboard-2: hsl(212, 100%, 17%);
$color-dashboard-3: hsl(2, 74%, 60%);
$color-dashboard-4: hsl(338, 69%, 78%);
$color-dashboard-5: hsl(35, 91%, 57%);


