{% extends 'emails/layout.html.twig' %}


{% block main %}
    <h2 style="font-size: 25px; font-weight: 600">¿Has olvidado tu contraseña?</h2>

    <p style="font-size: 20px; font-weight: lighter;">
        Parece que se te ha olvidado la contraseña.
        Pincha en el siguiente enlace y restablece tu contraseña.
    </p>

    <p style="margin-top: 20px;  font-size: 20px;">
        <a href="{{ app.request.getSchemeAndHttpHost() }}/user/password/recover/{{ forgottenPasswordCode }}" style="display: block; background-color: #fd0217; color: #ffffff; border-radius: 5px; padding: 15px 0; text-decoration: none;">
            Reestablecer contraseña
        </a>
    </p>
{% endblock main %}
