@import "app.scss";

html {
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
 /*  color: #fff !important; */

  &.ea {
    //  background-color: #dae1e940;
    height: unset;
    min-height: 100%;
   /*  color: #fff; */
  }
}

.sidebar {
  background-color: $color-app;
}

.datagrid .form-check {
  margin-bottom: 0;
  min-height: 15px;
  padding-left: 1.2rem;
}

.content-wrapper {
  margin: auto;
}
.content-header {
  background: #fff;
  /*  padding: 3rem; */
  margin-bottom: 1rem;
  //margin-top: 1rem;
}

.content-header-title .title {
  font-size: var(--font-size-xxxl);
  color: $color-primary;
}
.content-top {
  background: #fff;
}

#main-menu {
  // position: fixed;
  width: var(--sidebar-max-width);
  // padding-top: 50px;

  .menu {
    /*  background: var(--color-neutral-dark); */
    border-radius: 5px 0 0 5px;
    // overflow: hidden;
    margin-bottom: 0;
  }

  .menu .expanded {
    color: #fff;
    border-radius: none;

    .submenu-toggle {
      background-color: #fff;    
      .menu-icon {
        color: $color-primary !important;
      }

      span {
        color: $color-primary !important;
      }

      i {
        position: inherit;
        color:  $color-primary !important;
      }

      &.active a {
        background-color: #fff;
        color: $color-primary;
        margin-right: 1rem;
        text-decoration: none;
      }
    }
  }

  .menu .menu-item {
    padding: 0;
    color: #fff;
    .submenu-toggle-icon {
      color: var(--color-neutral-light);
      right: 0px;
      top: 0px;
      margin-right: 1.3rem;
      /* color: #fff; */
    }

    &.active a {
      background-color: #fff;
      color: $color-primary;
      text-decoration: none;

      &:hover {     
        color: $color-primary !important;
        text-decoration: none;
      }
    }

    a {
      padding: 0.5rem;
      color: var(--color-neutral-light);
      background: var(--color-neutral-dark);
      border-radius: 5px 0 0 5px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 0.25rem;
      position: relative;
      transition: all 0.3s ease;
      text-decoration: none;

      i {
        position: inherit;      
         color: $color-neutral-mid-dark; 
         font-weight: 600;         
      }

      &:hover {       
        color: $color-dashboard-5;
        text-decoration: none;
        i{
          color: $color-dashboard-5;
        }
      }
    }

    .submenu {
      /*  padding-top: 0.25rem; */
      /*padding-left: 0.75rem; */
      padding-left: 2rem;

      width: auto;
      .menu-item:hover a {
        color: $color-dashboard-5;
        text-decoration: none;
      }

      a {
        padding-left: 1rem;
        border-radius: 0;
        padding: 0.5rem;
      }
    }
  }
}

.main-header #header-logo a {
  color: #fff !important;
  display: block;
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 24px;
  padding: 17px 0 28px;
  text-decoration: none;
}

.btn-primary {
  background-color: $color-primary;
  border: none;
  letter-spacing: 2px;

  &:hover {
    background-color: #fff !important;
    color: $color-primary !important;
    letter-spacing: 3px;
  }
}

.btn-secondary {
  border: none;

  &:hover {
    background-color: #fff !important;
    color: $color-primary !important;
    letter-spacing: 3px;
  }
}

.action-batchDelete {
  color: #fff !important;
  background-color: $color-error;
  &:hover {
    background-color: #fff !important;
    color: $color-error !important;
    letter-spacing: 3px;
    border: solid 1px $color-error !important;
  }
}

.action-delete {
  color: #fff !important;
  background-color: $color-error;
  &:hover {
    background-color: #fff !important;
    color: $color-error !important;
    letter-spacing: 3px;
    border: solid 1px $color-error !important;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
}

.user-menu-wrapper span.user-avatar .fa-stack {
  font-size: 14px;
  vertical-align: middle;
  width: 2em;
  background: $color-app;
  border-radius: 50%;
}

.user-menu-wrapper span.user-avatar .user-avatar-icon-foreground {
  color: rgb(241 235 235);
}

.datagrid .dropdown-actions .dropdown-toggle {
  border: 1px solid rgb(0 0 0 / 0%);
  border-radius: var(--border-radius);
  color: rgb(20 21 22);
  padding: 3px 5px;
  background: rgb(220 228 233);
}

.form-panel-header .form-panel-title a.not-collapsible {
  cursor: default;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.form-widget .form-select,
.form-widget input.form-control,
.form-widget textarea.form-control {
  /* border: 1px solid var(--form-input-border-color); */
  box-shadow: var(--form-input-shadow);
  height: 30px;
  padding: 3px 7px 4px;
  transition: box-shadow 0.08s ease-in, color 0.08s ease-in;
  white-space: nowrap;
  word-break: keep-all;
  border: none;
  border-bottom: solid 1px rgb(45 54 84);
  border-radius: 0;
}

.form-group label,
.form-group legend.col-form-label {
  font-size: var(--font-size-base);
  font-weight: 500;
  margin: 0;
  padding: 0 0 8px;
  color: $color-app;
}

.form-panel-header .form-panel-title {
  flex: 1;
  background: $color-app;
  border-bottom: none;
  color: #fff;
  padding: 0.4rem;
}

.form-panel-header {
  box-shadow: none;
}

.form-check .form-check-input {
  height: 25px;
  width: 25px;
}

.form-check-input:checked {
  background-color: $color-primary;
  border-color: $color-primary;
}

trix-editor[input="Classroom_description"].trix-content {
  min-height: 129px;
  background: rgb(85 97 137);
}

trix-toolbar * {
  box-sizing: border-box;
  background: rgb(237 237 237);
  /* color: rgb(255 255 255); */
}

.ea-text-editor-wrapper {
  background: rgb(85 97 137) !important;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px 0 var(--gray-50);
  padding: 7px;
}

.dropdown-menu {
  li {
    .company {
      padding: auto;
      margin: auto;
      text-align: center;
      color: rgb(237 237 237);
      /* padding-top: 1rem; */
      background: rgb(45 54 84);
      margin-top: 1rem;
      padding: 0.5rem;
    }
  }
}

@media (min-width: 992px) {
  body.ea-sidebar-width-compact #main-menu .menu li:hover .submenu a {
    color: $color-primary;
  }

  body.ea-sidebar-width-compact #main-menu .menu li .submenu .menu-icon {
    font-size: 16px;
    left: -4px;
    position: relative;
    width: 21px;
    color: $color-primary;
  }

  body.ea-sidebar-width-compact #main-menu .menu .expanded {
    border-radius: none;
  }

  #main-menu .menu .expanded .submenu-toggle {
    color: $color-dashboard-5;
  }
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
  color: $color-primary;
}

#main-menu .menu .submenu {
  overflow: hidden;
  padding: 0;
  transition: max-height 0.15s linear;
  padding-left: 1.5rem;
}

.datagrid .field-boolean .form-switch input {
  margin: auto;
  position: relative;
  top: 8px;
  width: 3rem;
}
