<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}
</head>
<body>
<div class="loginForm">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
</body>
</html>
